.profile__edit {
  display: flex;
  flex-direction: row;
  margin: 0 0 0px 30px;
  padding: 20px 0 0 0;
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  .profile__edit {
    padding-top: 26px;
    gap: 10px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .profile__edit {
    gap: 10px;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit {
    max-width: 282px;
    padding-left: 25px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 319px) {
  .profile__edit {
    max-width: 282px;
    width: auto;
    padding-left: 0px;
  }
}
