.profile__avatar-image {
  max-width: 169px;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .profile__avatar-image {
    margin: 0 auto;
  }
}
