.cards {
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  box-sizing: border-box;
  column-gap: 17px;
  row-gap: 20px;
  width: 100%;
  margin: 0 auto;
  min-height: 50vh;
}

@media screen and (max-width: 900px) {
  .cards {
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .cards {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    max-width: 320px;
    column-gap: 0;
    row-gap: 21px;
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media screen and (max-width: 319px) {
  .cards {
    margin: 0 auto;
  }
}