.card__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../../../images/Trash.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  border-style: none;
  align-self: center;
  padding: 0;
  transition: opacity .2s;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: .5;
}
