.profile__button-edit {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  background-image: url("../../../images/pen.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-size: 10px 10px;
  align-self: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity .2s;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
  }
}
