.popup__picture-title {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding-top: 10px;
}

@media screen and (max-width: 550px) {
  .popup__picture-title {
    max-width: 291px;
  }
}
